@import url('https://fonts.googleapis.com/css?family=Anton:400&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=latin-ext');


//font setting
$primary-font: Open Sans,
sans-serif;
$name-font: Anton,
sans-serif;

//background
$mybg: '../img/coding1.jpg';


//myLinks menu
$mylinks-fsize: .8rem;

//header 
$header-fcolor: #fff;
$name-fsize: 1.25rem;
$pro-fsize: .8rem;

//main
$main-fcolor: #000;


//primary fonts
body {
    font-family: $primary-font;
}
