.my-links {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    a {
        font-size: $mylinks-fsize;
        font-style: normal;
        text-decoration: none;
        cursor: pointer;
        color: $blue;
    }

    li {

        border-radius: 10px;
        padding: 0 15px;
    }
}
