@include media-breakpoint-up(sm) {
    .myhero--vhw {
        height: 35vh;
    }

    .name {
        font-size: 1.25rem;
    }

    .pro {
        font-size: 1rem;
    }

    .myabout__cta {

        .btn {
            font-size: 1rem;
        }
    }
}

@include media-breakpoint-up(md) {

    .container-fluid {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .myhero--vhw {
        height: 100vh;
        width: 60vw;
    }

    .myabout--vhw {
        height: 90vh;
        width: 40vw;
    }

    .mybottom--vhw {
        height: 10vh;
        width: 40vw;
    }

    .myabout {
        flex-direction: column;
        justify-content: flex-end;
    }

    .name {
        font-size: 1.75rem;
    }

    .pro {
        font-size: 1rem;
    }

    .name,
    .pro {
        color: #000;
        text-shadow: 2px 2px #fff;
    }

    .myabout__cta {
        p {
            font-size: .8rem;
        }
        .btn {
            font-size: 1.25rem;
        }
    }
}

@include media-breakpoint-up(lg) {

    .myabout--vhw {
        height: 80vh;
        width: 40vw;
    }

    .mybottom--vhw {
        height: 20vh;
        width: 40vw;
    }

    .myabout__cta {
        p {
            font-size: 1rem;
        }
    }
}
